<div class="pure-u-1 pure-u-md-1-4">
  <div class="pure-g">
    <div class="pure-u-1">
      <h4>Gallery</h4>
    </div>
  </div>
  <div class="r-box">
    <a href="{% url 'gallery.image.category.list' %}" class="pure-menu-link">
      <i class="fa fa-picture-o"></i>
      Image Categories
    </a>
  </div>
  <div class="r-box">
    <a href="{% url 'gallery.image.list' %}" class="pure-menu-link">
      <i class="fa fa-picture-o"></i>
      Image Library
    </a>
  </div>
</div>
