{% extends 'dash/base.html' %}

{% block sub_title %}
  Delete Image Category
{% endblock sub_title %}

{% block sub_heading %}
  Delete Image Category
{% endblock sub_heading %}

{% block content %}
  {% if object.in_use %}
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item">
              <a href="{% url 'gallery.image.category.list' %}" class="pure-menu-link">
                <i class="fa fa-reply"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <br>
        There are images in this category.
        <br>
        If you want to delete this category, remove all images first.
      </div>
    </div>
  {% else %}
    <div class="pure-g">
      <div class="pure-u-1">
        <br>
        Are you sure you want to delete the
        <strong>{{ object.name }}</strong>
        image category?
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        {% include '_form.html' with submit='Delete Image Category' %}
      </div>
    </div>
  {% endif %}
{% endblock content %}
