{% extends 'dash/base.html' %}

{% load thumbnail %}

{% block sub_title %}
  Image Library
{% endblock sub_title %}

{% block sub_heading %}
  Image Library
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_back_to_settings.html' %}
          <li class="pure-menu-item">
            <a href="{% url 'gallery.image.create' %}" class="pure-menu-link">
              <i class="fa fa-cloud-upload"></i>
              Upload Image
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gallery.image.list.delete' %}" class="pure-menu-link">
              <i class="fa fa-trash-o"></i>
              Delete Images
            </a>
          </li>
          <li class="pure-menu-item">
            <a href="{% url 'gallery.image.category.list' %}" class="pure-menu-link">
              <i class="fa fa-picture-o"></i>
              Image Categories
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    {% for image in image_list %}
      {% ifchanged image.category %}
        </div>
        <div class="pure-g">
          <div class="pure-u-1">
            <br>
            <h3>
              {% if image.category %}
                {{ image.category.name }}
              {% else %}
                No Category
              {% endif %}
            </h3>
          </div>
        </div>
        <div class="pure-g">
      {% endifchanged %}
      <div class="pure-u-1-2 pure-u-md-1-4">
        <a href="{% url 'gallery.image.update' image.pk %}" title="Filename: {{ image.original_file_name }}&#10;Dimensions: {{ image.image.width }}x{{ image.image.height }}{% if image.tags.names %}&#10;Tags: {{ image.tags.names|join:', ' }}{% endif %}">
          <img src="{% thumbnail image.image 100x0  crop='center' %}">
          <br>
          <i class="fa fa-edit"></i>
          {{ image.title }}
        </a>
        <br>
        <br>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
