{% extends 'dash/base.html' %}

{% load thumbnail %}

{% block sub_title %}
  Image Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Image Wizard
{% endblock sub_heading %}

{% block content %}
  <style>
    .pill {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      white-space: nowrap;
      background: #428CD1;
      color: white;
      font-size: 95%;
      padding: 3px 8px;
      margin: 0 8px 12px 0;
    }
    .pill:visited {
      background: #529CD1;
      color: white;
    }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ url_page_design }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2">
      <h3>What would you like to do?</h3>
      {% if categories %}
        <p>
          Choose an image from one of these categories:
        </p>
        {% for category in categories %}
          <a href="{{ category.url }}" class="pill">
            {{ category.name }}
          </a>
        {% endfor %}
      {% endif %}
      <p>
        Choose from the whole library:
      </p>
      <a href="{{ url_choose }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-picture-o"></i>
        Image Library
      </a>
      {% if tags %}
        <p>
          Choose a tag:
        </p>
        {% for tag in tags|dictsort:"name" %}
          <a href="{{ url_choose }}?tag={{ tag.slug }}" class="pill">{{ tag.name }}</a>
        {% endfor %}
      {% endif %}
      <p>
        Or:
      </p>
      <a href="{{ url_upload }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
        <i class="fa fa-cloud-upload"></i>
        Upload an image
      </a>
      {% if image %}
        <p>
          Maintenance:
        </p>
        <a href="{{ url_remove }}{% if next_url %}?next={{ next_url }}{% endif %}" class="pure-menu-link">
          <i class="fa fa-times"></i>
          Remove the {{ field_name }} from your page
        </a>
      {% endif %}
      {# Wizard.MULTI #}
      {% if many_to_many.count %}
        <p>
          Maintenance:
        </p>
        <a href="{{ url_order }}" class="pure-menu-link">
          <i class="fa fa-arrow-up"></i>
          Order images in your {{ field_name }}
        </a>
        <a href="{{ url_select }}" class="pure-menu-link">
          <i class="fa fa-times"></i>
          Remove images from your {{ field_name }}
        </a>
      {% endif %}
      <br>
      <a href="{{ url_page_design }}" class="pure-button pure-button-primary">
        <span style="color:white;">
          <i class="fa fa-reply"></i>
          Finish
        </span>
      </a>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      {# Wizard.SINGLE #}
      {% if image %}
        <h3>Current {{ field_name }}:</h3>
        <span title="Filename: {{ image.original_file_name }}{% if image.tags.names %}&#10;Tags: {{image.tags.names|join:", " }}{% endif %}">
          <img src="{% thumbnail image.image 100x0  crop='center' %}">
          <br>
          {{ image.title }}
        </span>
        <br>
        <br>
      {% endif %}
      {# Wizard.MULTI #}
      {% if many_to_many.count %}
        <h3>Current {{ field_name }}:</h3>
        {% for item in many_to_many %}
          <img src="{% thumbnail item.image.image 100x0  crop='center' %}">
          <br>
          {{ item.order }}.
          {{ item.image.title }}
          <br>
          <br>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
