{% extends 'dash/base.html' %}

{% block sub_title %}
  Image Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Upload an image
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ url_option }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      {% include '_form.html' with legend='Upload Image' multipart=True inline_checkbox=True %}
      <br>
    </div>
  </div>
{% endblock content %}
