{% extends 'dash/base.html' %}

{% block sub_title %}
  Image Wizard
{% endblock sub_title %}

{% block sub_heading %}
  Choose an Image
{% endblock sub_heading %}

{% block content %}
  <style>
    .pill {
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      white-space: nowrap;
      background: #428CD1;
      color: white;
      font-size: 95%;
      padding: 3px 8px;
      margin: 0 8px 12px 0;
    }
    .pill:visited {
      background: #529CD1;
      color: white;
    }
    .pill.selected {
      background: #000;
    }
  </style>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{{ url_option }}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  {% if category %}
    <div class="pure-g">
      <div class="pure-u-1">
        <h3>{{ category.name }}</h3>
      </div>
    </div>
  {% endif %}
  <div class="pure-g">
    <div class="pure-u-2-3 pure-u-md-4-5">
      {% include 'gallery/_wizard_form.html' with submit='Choose' %}
      <br>
    </div>
    <div class="pure-u-1-3 pure-u-md-1-5">
      {% if tags %}
        <h3>Tags</h3>
      {% endif %}
      {% if tag %}
        <a href="?tag=" class="pill">All</a>
      {% endif %}
      {% with main_tag=tag %}
        {% for tag in tags|dictsort:"name" %}
          <a
            href="?tag={{ tag.slug }}"
            class="pill{% if tag.slug == main_tag %} selected{% endif %}">&nbsp;{{ tag.name }}&nbsp;</a>
        {% endfor %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}
